[Unit]
Description=Sync using system users and groups
# Не отключаем стандартные зависимости, либо явно указываем необходимые зависимости
After=systemd-tmpfiles-setup.service local-fs.target
# Если требуется, можно добавить конкретное монтирование:
# After=systemd-tmpfiles-setup.service usr.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/check_user_and_group.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target